
.logo__img--ubicacion{
	display: flex;
	justify-content: center;
	@media only screen and (max-width:767px){
	display:flex;
	justify-content:center;
	}
	
}

.texto__frase1--ubicacion{
	text-align:left;
	margin-top: 40px;
	@media only screen and (max-width:767px){
	text-align:center;
	margin-top:15px;
	}
}
.texto__frase2--ubicacion{
	text-align:center;
}
.navegador__texto--ubicacion{
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}

/*APLICANDO EXTEND PARA FUTURAS MODIFICACIONES EN AMBOS NAVEGADORES*/
.navegadorFooter__texto--ubicacion h5{
	@extend .navegador__texto--ubicacion;
	text-align: center;
	margin-top: 70px;
	@media only screen and (max-width:767px){
	margin-top:35px;
	}
}
.navegadorFooter{
	margin-top:10px;
}
.principal__texto--ubicacion h3{
	text-align: center;
	margin-top: 180px;
	@media only screen and (max-width:767px){
	margin-top:20px;
	text-align:center;
	}
}
.nosotros__texto--ubicacion{
	text-aling:center;
	margin:15px;
	@media only screen and (max-width:767px){
	margin-top:10px;
	text-align:center;
	}
}
.institucional__video--ubicacion{
	display:flex;
	justify-content:center;
	@media only screen and (max-width:767px){
	display:flex;
	justify-content:center;
	}
}
.formulario--ubicacion{
	display: flex;
	text-align:center;
}